#talk-button {
  font-size: 70px;
  user-select: none;
  margin-bottom: 40px;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

#talk-button span {
  /* to ignore events on button text */
  pointer-events: none;
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.ptt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#connect-button {
  font-size: 6vw;
  margin: 15px;
  /* stuff below is for the spinner */
  display: inline-flex;
  gap: 0.5em;
}

#talk-button.btn-active {
  background-color: var(--purple);
  color: var(--white);
}

#connect-button .connect-spinner {
  height: 1em;
  width: 1em;
  border: 0.1em solid;
  border-color: var(--bg-color) transparent var(--bg-color) transparent;
  display: inline-block;
}

#connect-button .connect-spinner.hidden {
  display: none;
}
