#talk-button {
  font-size: 10vw;
}

#connect-button {
  font-size: 3vw;
  margin: 15px;
  /* stuff below is for the spinner */
  display: inline-flex;
  gap: 0.5em;
}

#talk-button.btn-active {
  background-color: var(--purple);
  color: var(--white);
}

#connect-button .connect-spinner {
  height: 1em;
  width: 1em;
  border: 0.1em solid;
  border-color: var(--bg-color) transparent var(--bg-color) transparent;
  display: inline-block;
}

#connect-button .connect-spinner.hidden {
  display: none;
}
