@import "./queue.css";
@import "./classroom.css";

:root {
  --bg-color: #121212;
  --green: #1db954;
  --white: #f4f4f9;
  --darker-white: #c3c3c7;
  --purple: #7f00ff;
}

body {
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
  color: var(--white);

  margin: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
}

#counter {
  margin: 0;
  line-height: 0.8;
  padding: 2vw;

  color: var(--green);
  font-size: 15vw;
}

.spinner {
  height: 10vw;
  width: 10vw;
  border: 0.5vw solid;
  border-color: var(--white) transparent var(--white) transparent;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
}

.center-margin {
  margin-top: -5vw;
  margin-left: -5vw;
}

.center-transform {
  transform: translate(-50%, -50%);
}

.large-text {
  font-size: xx-large;
}

.strong-text {
  font-weight: bolder;
  text-transform: uppercase;
}

.button {
  color: var(--bg-color);
  background-color: var(--white);
  text-decoration: none;
  padding: 20px;

  border-radius: 25px;
  border: none;
  cursor: pointer;

  transition: 0.3s ease;
}

.button:hover {
  background-color: var(--darker-white);
}

.button:disabled {
  cursor: default;
  opacity: 0.6;

  color: grey;
  background-color: var(--darker-white);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
