<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}WebMoti{% endblock %}</title>

    <link rel="icon" href="{{ url_for('static', path='/favicon.svg') }}" />

    <link href="{{ url_for('static', path='/style.css?id=1') }}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
