<!-- prettier-ignore -->
{% extends "base.html" %} 

{% block title %}WebMoti Classroom{% endblock %}

{% block content %}
<!-- prettier-ignore -->

<!-- TODO aria labels -->

<div class="ptt-container center center-transform">
  <img
    id="mic-on-icon"
    class="blue-filter icon hidden"
    src="{{ url_for('static', path='mic-on-icon.svg') }}"
  />

  <img
    id="mic-off-icon"
    class="gray-filter icon hidden"
    src="{{ url_for('static', path='mic-off-icon.svg') }}"
  />

  <button id="talk-button" class="button strong-text hidden">
    Push to talk
  </button>
</div>

<button id="connect-button" class="button bottom-right strong-text">
  <span id="button-text">Connect</span>

  <div
    class="spinner connect-spinner hidden"
    aria-label="Loading indicator"
  ></div>
</button>

<script type="module" src="{{ asset('bundles/classroomBundle.js') }}"></script>

{% endblock %}
