<!-- prettier-ignore -->
{% extends "base.html" %} 

{% block title %}WebMoti Classroom{% endblock %}

{% block content %}
<!-- prettier-ignore -->

<!-- TODO aria labels -->

<button
  id="talk-button"
  class="button center center-transform strong-text"
  disabled
>
  Push to talk
</button>

<button id="connect-button" class="button bottom-right strong-text">
  <span id="button-text">Connect</span>

  <div
    class="spinner connect-spinner hidden"
    aria-label="Loading indicator"
  ></div>
</button>

<script type="module" src="{{ asset('bundles/classroomBundle.js') }}"></script>

{% endblock %}
