<!-- prettier-ignore -->
{% extends "base.html" %} 

{% block title %}WebMoti Classroom{% endblock %}

{% block content %}
<!-- prettier-ignore -->

<!-- TODO aria labels -->

<button id="talk-button" class="btn center center-transform">
  Push to talk
</button>

<button id="connect-button" class="btn connect-btn bottom-right">
  <span id="button-text">Connect</span>

  <div
    class="spinner connect-spinner hidden"
    aria-label="Loading indicator"
  ></div>
</button>

<script type="module" src="{{ asset('bundles/classroomBundle.js') }}"></script>

{% endblock %}
