<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebMoti Queue</title>

    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="queue">
      <h1 id="upper-left"></h1>
      <h1 id="above"></h1>
      <h1 id="upper-right"></h1>
      <h1 id="left"></h1>
      <h1 id="head"></h1>
      <h1 id="right"></h1>
      <h1 id="lower-left"></h1>
      <h1 id="below"></h1>
      <h1 id="lower-right"></h1>
    </div>

    <h1 id="counter"></h1>

    <script src="{{ url_for('static', path='queueListener.js') }}"></script>
  </body>
</html>
