<!-- prettier-ignore -->
{% extends "base.html" %} 

{% block title %}WebMoti Queue{% endblock %}

{% block content %}
<!-- prettier-ignore -->

<h1 id="counter" class="bottom-right" aria-live="polite" aria-label="Number of people in queue"></h1>

<ul id="queue" aria-live="polite" aria-label="Queue list"></ul>

<img
  id="notification-button"
  class="gray-filter bottom-left"
  src="{{ url_for('static', path='notification-bell.svg') }}"
  alt="Notification button"
  tabindex="0"
  role="button"
  aria-label="Click to enable notifications"
/>

<div
  id="spinner"
  class="center center-margin spinner"
  aria-label="Loading indicator"
></div>

<script type="module" src="{{ asset('bundles/queueBundle.js') }}"></script>

{% endblock %}
