<!-- prettier-ignore -->
{% extends "base.html" %} 

{% block title %}WebMoti Queue{% endblock %}

{% block content %}
<!-- prettier-ignore -->

<h1 id="counter" aria-live="polite" aria-label="Number of people in queue"></h1>

<ul id="queue" aria-live="polite" aria-label="Queue list"></ul>

<img
  id="notificationButton"
  class="gray-filter"
  src="{{ url_for('static', path='notification-bell.svg') }}"
  alt="Notification button"
  tabindex="0"
  role="button"
  aria-label="Click to enable notifications"
/>

<div id="spinner" class="center" aria-label="Loading indicator" />

<script type="module" src="{{ asset('bundles/queueBundle.js') }}"></script>

{% endblock %}
