body {
  background-color: #121212;
  font-family: "Inter", sans-serif;
  color: #fff;

  height: 100vh;
  margin: 0;
  padding: 50px;

  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#counter {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding: 10px;
  line-height: 1;

  color: #1db954;
  font-size: 12vw;
}

#queue {
  list-style: none;
  width: 80vw;
}

#queue li {
  margin-top: 0;
  overflow: hidden;
  max-height: 0;

  font-weight: 700;
  text-align: center;
  font-size: 12vw;
  word-break: break-word;
  overflow-wrap: break-word;
}

#queue li.show {
  margin-top: 0.5rem;
  max-height: 15vw;
}

.fade li {
  transition: all 0.4s ease-out;
  opacity: 0;
}

.fade li.show {
  opacity: 1;
}
