body {
  background-color: #121212;
  font-family: "Inter", sans-serif;
  color: #fff;

  margin: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#counter {
  position: fixed;
  bottom: 0;
  right: 0;

  margin: 0;
  line-height: 0.8;
  padding: 2vw;

  color: #1db954;
  font-size: 15vw;
}

#notificationButton {
  position: fixed;
  bottom: 0;
  left: 0;

  padding: 2vw;
  width: 5vw;

  cursor: pointer;
}

.gray-filter {
  filter: invert(91%) sepia(0%) saturate(99%) hue-rotate(174deg) brightness(82%)
    contrast(77%);
}

.blue-filter {
  filter: invert(58%) sepia(57%) saturate(6535%) hue-rotate(194deg)
    brightness(104%) contrast(101%);
}

#queue {
  list-style: none;
  padding: 0;
  margin: 3vw;
  width: 100vw;
}

#queue li {
  margin-bottom: 0;
  max-height: 0;
  overflow: hidden;

  font-weight: 700;
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;

  opacity: 0;
}

.transition-no-size {
  transition: margin-bottom 0.4s ease-out, max-height 0.4s ease-out,
    opacity 0.4s ease-out;
}

.queue-0 {
  font-size: 14vw;
}

#queue .show-0 {
  max-height: 17vw;
  opacity: 1;

  margin-bottom: 6rem;
}

.queue-1 {
  font-size: 8vw;
}

#queue .show-1 {
  max-height: 10vw;
  opacity: 0.8;

  margin-bottom: 2rem;
}

.queue-2 {
  font-size: 5vw;
}

#queue .show-2 {
  max-height: 7vw;
  opacity: 0.7;

  margin-bottom: 2rem;
}

.queue-3 {
  font-size: 3vw;
}

#queue .show-3 {
  max-height: 6vw;
  opacity: 0.6;

  margin-bottom: 2rem;
}
